<form>

  <table>
    <div class="user-details">
      <thead>
       <th>A</th>
       <th>B</th>
       <th>C</th>
       <th>D</th>
       <th>E</th>
       <th>F</th>
      </thead>
      <tbody>
    <tr>
      <td><input type="text" id="field1"></td>
      <td><input type="text" id="field2"></td>
      <td><input type="text" id="field3"></td>
      <td><input type="text" id="field4"></td>
      <td><input type="text" id="field5"></td>
      <td><input type="text" id="field6"></td>

    </tr>
    <tr>
      <td><input type="text" id="field7"></td>
      <td><input type="text" id="field8"></td>
      <td><input type="text" id="field9"></td>
      <td><input type="text" id="field10"></td>
      <td><input type="text" id="field11"></td>
      <td><input type="text" id="field12"></td>
    </tr>
    <tr>
      <td><input type="text" id="field13"></td>
      <td><input type="text" id="field14"></td>
      <td><input type="text" id="field15"></td>
      <td><input type="text" id="field16"></td>
      <td><input type="text" id="field17"></td>
      <td><input type="text" id="field18"></td>
    </tr>
    <tr>
      <td><input type="text" id="field19"></td>
      <td><input type="text" id="field20"></td>
      <td><input type="text" id="field21"></td>
      <td><input type="text" id="field22"></td>
      <td><input type="text" id="field23"></td>
      <td><input type="text" id="field24"></td>
    </tr>
    <tr>
      <td><input type="text" id="field25"></td>
      <td><input type="text" id="field26"></td>
      <td><input type="text" id="field27"></td>
      <td><input type="text" id="field28"></td>
      <td><input type="text" id="field29"></td>
      <td><input type="text" id="field30"></td>
    </tr>
  </tbody>

  <div class="second">
    <button onclick="location.reload()">FirstPiece</button>
    <button onclick="location.reload()">Regular 2</button>
  </div>

  <div class="third">
    <div class="row">
     
      <label for="inspector">Inspector:</label>
      <select id="inspector">
        <option value="inspector1">Inspector 1</option>
        <option value="inspector2">Inspector 2</option>
        <option value="inspector3">Inspector 3</option>
      </select>
    
      <label for="inspection-date">Date:</label>
      <input type="date" id="inspection-date" style="width: 150px;">
    
      <label for="inspection-report-no">Inspection Report No:</label>
      <input type="text" id="inspection-report-no" style="width: 150px;">
    </div>
    
    
    <label for="shift">Shift:</label>
    <select id="shift">
      <option value="shift1">Shift 1</option>
      <option value="shift2">Shift 2</option>
      <option value="shift3">Shift 3</option>
    </select>
  
    <label for="crankshaft">Crankshaft:</label>
    <input type="number" id="crankshaft" style="width: 150px;">
  
    <label for="crank-serial-no">Crank Serial No:</label>
    <select id="crankshaft">
      <option value="crankshaft1">Crankshaft 1</option>
      <option value="crankshaft2">Crankshaft 2</option>
      <option value="crankshaft3">Crankshaft 3</option>
    </select>
  </div>
  <div class="four">

  </div>
  
    <tr>
      <button (keydown)="new1()">New</button>
      <button (keydown)="view()">View</button>
     <button (keydown)="exit1()">Exit</button>
    </tr>
    </div>
    
  </table>
</form>